@{
    ViewBag.Title = "Hakkımızda";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque a impedit porro labore ratione. Suscipit quisquam, omnis labore unde quam ea similique molestiae non nesciunt magni placeat vero provident tempora.</p>
