@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Askıya Alındı.</h1>
    <h2 class="text-danger">Hesabınız Askıya Alınmıştır Lütfen Daha Sonra Tekrar Deneyiniz.</h2>
</hgroup>
