@model Hospital_Management_System.Models.Appointment

@{
    ViewBag.Title = "DeleteAppointment";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<h2>Randevu Sil</h2>

<h3>Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @if (Model.Status)
            {
                @Html.ActionLink("Geri Dön", "ActiveAppointments")
            }
            else
            {
                @Html.ActionLink("Bekleyen Randevular", "PendingAppointments")
            }
        </div>
    }
</div>
