@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Layout/resources/css/style.css">
</head>
<body background="https://media.istockphoto.com/vectors/abstract-geometric-medical-cross-shape-medicine-and-science-concept-vector-id940993008?k=20&m=940993008&s=612x612&w=0&h=rCRrrtzkm7aUqbzFf_ov3KF5UWgc_yDu_GAibzmVbWE=">

</body>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Şifrenizi Sıfırlamak için lütfen Mailiniz kontrol ediniz.
    </p>
</div>

